@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

:root {
  --font-name: SF Pro Display !important;
}

input {
  margin: 0.5rem !important;
  margin-left: 1rem !important;
}

form {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.md3-dialog__text {
  margin-right: 2rem;
}
